html {
  --bg-body: white;
  --bg-important: #94a3b8;
  --bg-less-important: #cbd5e1;
  --theme-transition: 300ms background-color cubic-bezier(0, 0, 0.2, 1);
}

[data-theme=dark] {
  --bg-body: #0f172a;
  --bg-important: #475569;
  --bg-less-important: #334155;
}

.theme\:bg-body {
  background-color: var(--bg-body);
  transition: var(--theme-transition);
}

.theme\:bg-important {
  background-color: var(--bg-important);
  transition: var(--theme-transition);
}

.theme\:bg-less-important {
  background-color: var(--bg-less-important);
  transition: var(--theme-transition);
}
