html {
  --bg-body: white;
  --bg-card: white;
  --shadow-card: 0 0 0 1px rgba(0, 0, 0, 0.1);
  --text-body: #27272a;
  --text-gray: #52525b;
  --theme-transition: 250ms background-color cubic-bezier(0, 0, 0.2, 1), 250ms box-shadow cubic-bezier(0, 0, 0.2, 1), 250ms color cubic-bezier(0, 0, 0.2, 1);
}

[data-theme=dark] {
  --bg-body: #18181b;
  --bg-card: #27272a;
  --shadow-card: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  --text-body: #d4d4d8;
  --text-gray: #a1a1aa;
}

.bg-body {
  background-color: var(--bg-body);
  transition: var(--theme-transition);
}

.bg-card {
  background-color: var(--bg-card);
  transition: var(--theme-transition);
}

.shadow-card {
  box-shadow: var(--shadow-card);
  transition: var(--theme-transition);
}

.text-body {
  color: var(--text-body);
  transition: var(--theme-transition);
}

.text-gray {
  color: var(--text-gray);
  transition: var(--theme-transition);
}
