@use "provider";
@use "tokens";

$theme-aware-selector: "body:not([data-theme-mount=true])";

#{$theme-aware-selector} {
	.transition {
		--transition-duration: 300ms;
		--transition-timing-function: #{tokens.$ease-out};
		transition: var(--transition-duration) var(--transition-timing-function);
		transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
	}
	@each $v in (0, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000) {
		.duration-#{$v} {
			--transition-duration: #{$v + ms};
		}
	}
	.ease-linear {
		--transition-timing-function: #{tokens.$ease-linear};
	}
	.ease-in {
		--transition-timing-function: #{tokens.$ease-in};
	}
	.ease-out {
		--transition-timing-function: #{tokens.$ease-out};
	}
	.ease-in-out {
		--transition-timing-function: #{tokens.$ease-in-out};
	}
}

// $theme-map: (
// 	--bg-body: (
// 		property: background-color,
// 		light: tokens.$white,
// 		dark: tokens.$blue-gray-900,
// 	),
// 	--bg-less-important: (
// 		property: background-color,
// 		light: tokens.$blue-gray-300,
// 		dark: tokens.$blue-gray-700,
// 	),
// 	--bg-important: (
// 		property: background-color,
// 		light: tokens.$red-300,
// 		dark: tokens.$blue-700,
// 	),
// 	--bg-more-important: (
// 		property: background-color,
// 		light: tokens.$red-400,
// 		dark: tokens.$blue-600,
// 	),
// 	--bg-most-important: (
// 		property: background-color,
// 		light: tokens.$red-500,
// 		dark: tokens.$blue-500,
// 	),
// );

$theme-map: (
	--bg-body: (
		property: background-color,
		light: tokens.$white,
		dark: tokens.$blue-gray-900,
	),
	--bg-most-important: (
		property: background-color,
		light: tokens.$red-500,
		dark: tokens.$blue-500,
	),
	--bg-more-important: (
		property: background-color,
		light: tokens.$red-400,
		dark: tokens.$blue-600,
	),
	--bg-important: (
		property: background-color,
		light: tokens.$red-300,
		dark: tokens.$blue-700,
	),
	--bg-less-important: (
		property: background-color,
		light: tokens.$blue-gray-300,
		dark: tokens.$blue-gray-700,
	),
);

body {
	@include provider.theme($theme-map, 400ms, tokens.$ease-out);
}

#{$theme-aware-selector} {
	.duration-button {
		--transition-duration: 200ms;
	}
}
