@use "provider";
@use "tokens";

$theme-map: (
	--bg-body: (
		property: background-color,
		light: tokens.$white,
		dark: tokens.$blue-gray-900,
	),
	--bg-more-important: (
		property: background-color,
		light: tokens.$red-400,
		dark: tokens.$blue-600,
	),
	--bg-important: (
		property: background-color,
		light: tokens.$red-300,
		dark: tokens.$blue-700,
	),
	--bg-less-important: (
		property: background-color,
		light: tokens.$blue-gray-300,
		dark: tokens.$blue-gray-700,
	),
);

html {
	@include provider.theme($theme-map) {
		--transition: 300ms background-color cubic-bezier(0, 0, 0.2, 1);
	}
}

body:not([data-theme-mount="true"]) .transition {
	transition-property: color, fill /* <svg> */, background-color, border-color, box-shadow;
	transition-duration: var(--transition-duration);
	transition-timing-function: var(--transition-timing-function);
}
body:not([data-theme-mount="true"]) .duration-75 {
	--transition-duration: 75ms;
}
body:not([data-theme-mount="true"]) .ease-out {
	--transition-timing-function: ease-out;
}
